<% flash.each do | message_type, message| %>
  <div class="alert alert--<%= message_type %> fadeOut"><%= message %></div>
<% end %>

<% if @integrations.any? %>
  <div>
<<<<<<< HEAD
    <h1 class="m-0 pb-2">My Saved Integrations</h1>
=======
    <h1 class="m-0 pb-2">My Saved Embeds</h1>
>>>>>>> master
    <div class="pl-2@sm mt-1">
      <% @integrations.each do |i| %>
        <div class="integration-link">
          <%= link_to i, class: "app", data: { :turbolinks => false } do %>
            <span class="icon">
              <%= embedded_svg(i.app) %>
            </span>
            <%= i.name %>
          <% end %>

          <%= link_to(
            integration_path(i),
            method: :delete,
            data: { confirm: 'Are you sure you want to delete this?' },
            class: "delete"
          ) do %>
            <%= embedded_svg('close') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
