<% content_for :resource_name do %>
  Forms
<% end %>

<% content_for :resource_index do %>
  <% if @forms.any? %>
    <ul class="sidebar-list">
      <% @forms.each do |f| %>
        <li class="sidebar-item"><%= link_to f.name, f %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% content_for :resource_form do %>
  <%= render 'forms_form'%>
<% end %>

<div class="row">
  <%= render 'shared/side_nav' %>
  <div class="col-sm-8">
    <div class="row">
      <h1><%= @form.name %></h1> - <%= link_to 'Delete', 
                                                form_path(@form), 
                                                method: :delete, 
                                                data: { confirm: 'Are you sure?' } %> 
    </div>
    <div class="row">
      <%= link_to "See your form here", @form.url, class: "btn btn-primary", target: "blank" %>
    </div>
    <div class="row">
      <%= link_to "Open in Church Center modal", @form.url+"?open-in-church-center-modal=true", class: "btn btn-primary", target: "blank" %>
    </div>
  </div>
</div>