<div class="top-bar">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Carlsbad Church</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if logged_in? %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Widgets", widgets_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Forms", forms_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Donation Forms", donation_forms_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          Logged in as: <%= current_user.name %>
        </li>
      </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </ul>
      <% end %>
    </div>
  </nav>
</div>