<!DOCTYPE html>
<html lang="en">
    <%= render 'layouts/head' %>

  <body>
    <div class="container">
      <%= render partial: "shared/header" %>

      <% flash.each do | message_type, message| %>
        <center>
          <div class="mt-2 px-2 py-1 d-ib alert alert-<%= message_type %>"><%= message %></div>
        </center>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>
