<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <%= render 'layouts/header'%>

  <body>
    <div class="container-fluid">
      <% flash.each do | message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
